URxvt.font:                xft:Hack:pixelsize=13
URxvt.boldFont:            xft:Hack:pixelsize=13:bold
URxvt.italicFont:          xft:Hack:pixelsize=13:italic
URxvt.boldItalicFont:      xft:Hack:pixelsize=13:bold:italic
URxvt.letterSpace:         -1


URxvt.internalBorder:      5
URxvt.externalBorder:      0

URxvt.scrollBar: false

#include ".Xresources-colorscheme-gruvbox"



